<div class="wrapper">
    <div class="top">
        <h1>Welcome!</h1>
    </div>
    
    <div class="msgarea">
      <% if flash[:errors] %>
        <div class="error">
          <% flash[:errors].each do |msg| %>
            <p> <%= msg %> </p>
          <% end %>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div class="success">
          <% flash[:success].each do |msg| %>
            <p> <%= msg %> </p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="loginleftwrapper">
        <form action='/users' method='post'>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <h2>Register:</h2>
            <p>First Name:: <input type="text" name="user[first_name]"></p>
            <p>Last Name:: <input type="text" name="user[last_name]"></p>
            <p>Email: <input type="text" name="user[email]"></p>
            <p>Password: <input type="text" name="user[password]"></p>
            <input class="button" type='submit' name='register' value='Register'>
        </form>
    </div>
    <div id="loginrightwrapper">
        
        <form action='/sessions' method='post'>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <h2>Login:</h2>
            <p>Email: <input type="text" name='email'></p>
            <p>Password: <input type="password" name="password"></p>
            <input class="button" type="submit" name="login" value="Login">
        </form>
    </div>
</div>
