/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
	padding: 0;
	margin: 0;
}
.wrapper {
	width: 1072px;
	margin: 0px auto;
	padding: 5px;
	overflow: hidden;
    color: black;
}
.top{
    width: inherit;
    height: 30px;
}
#loginleftwrapper {
    width: 500px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px; 
}
#loginrightwrapper{
    width: 500px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px; 
}
.formarea{
    width: 300px;
    height: 200px;
    margin-top: 20px;
}
.msgarea{
    width: inherit;
    height: 100px;
    margin: 0px auto;
    margin-bottom: 20px;
    overflow-y: auto;
}
table{
    width: 95%;
	text-align: left;
	border: 1px solid black;
}
th,td{
	padding: 5px;
}
tr:nth-child(even){
	background-color: rgb(211, 211, 211);
}
h1, h2{
    margin-bottom: 20px;
}
h3{
    margin-left: 20px;
}
.centertext{
    text-align: center;
}
.righttext{
    position: relative;
    left: 900px;
}
p{
    padding: 5px;
    /* font-size: 120%; */
}
a{
    padding-left: 5px;
    /* font-size: 120%; */
    display: inline-block;
}
.shortinput{
    width: 100px;
}
/* .selectinput{
    width: 50px;
    margin-left:20px;
} */
input{
    float: right;
}
select{
    width: 175px;
    float: right;
}
textarea{
    float: right;
    width: 250px;
    height: 50px;
}
.button{
    width: 120px;
    height: 30px;
    background-color: rgb(37, 149, 184);
    display: block;
    float: right;
    margin-top: 10px;
}
.nav{
    float: right;
}
.error {
    color: red;
}
.success {
    color: green;
}

